body{
    margin: 0;
    font-family: sans-serif;
}
.section{
    background-color: azure;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
}
.section img{
    height: 250px;
}
.section h1{
    margin: 0;
    color: aliceblue;
}
.section p{
    color: aliceblue;
    margin-right: 15px;
}